# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Config & Secret
.env
.flaskenv
instance/

# Specific Data (baxe de date/json-uri cu info personale)
data/*.bak
data/locations.json
data/ned_data.json

# System
.DS_Store
Thumbs.db